html, 
body{
  margin: 0;
  padding: 0;
}

body {
    background: linear-gradient(rgba(31, 48, 58, 0.65), rgba(31, 48, 58, 0.65)), url("../img/wallpaper.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

/*Menu*/

header{
  width: 100%;
  background-color: rgba(4, 96, 119, 0.8);
}

#btn-menu{
  display: none;
}

header label{
  display:none;
  padding: 5px 5px;
}

#logo{
  display: flex;
  position: relative;
  transform: translateY(-14%);
  float: left;
  width: 85px;
  height: 85px;
  border-radius: 55px;
  padding: 15px;
}

header img{
  width: 40px;
  height: 40px;
}

header label:hover{
  cursor: pointer;
}

.menu ul{
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu li{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 0.90rem;
  border-right: 1px solid #03727a;
}

.menu li:hover{
 background-color: rgba(6, 181, 204, 0.70);
}

.menu li a{
  display: block;
  padding: 20px 30px;
  color: rgba(255, 255, 255);
  text-decoration: none;
}

.menu li a:hover{
  text-decoration: underline;
}

@media(max-width:768px){
  header label{
    display: block;
  }

  header #logo{
    display: none;
  }

  .menu{
    position: absolute;
    background-color: rgba(4, 96, 119, 0.8);
    width: 50%;
    margin-left: -50%;
    transition:all 0.5s;
  }

  .menu ul{
    flex-direction: column;
  }

  .menu li{
    border-top: 1px solid #03727a;
  }

  #btn-menu:checked ~ .menu{
    margin: 0;
  }
}

/*footer*/
footer{
  display:inline-flex;
  justify-content: center;
  width: 100%;
  padding: 8px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255, 0.6);
  }


/*pages*/
main{
  padding-top: 45px;
}

section{
  width: 100%;
}

section h2{
  display: flex;
  justify-content:center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(227, 243, 7);
  font-size: 2.3rem;
  font-style:oblique;
  text-decoration: underline;
}

article{
  width: 100%;
  padding-top: 30px;
}

#article-1 h4{
  font-size: 1.3rem;
  font-style: italic;
  color: rgba(7, 232, 240, 0.9);
  text-align: center;
  padding: 20px 10px;
}

#article-1 img{
  float:left;
  border-radius: 8px;
  width: 365px;
  height: 300px;
}

#article-1 p{
  display: flex;
  text-align: justify;
  padding: 7px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255, 0.9);
  font-size: 1.1rem;
}

#article-1 h5{
  font-size: 1.3rem;
  font-style: italic;
  color:rgb(13, 240, 89);
  text-align: center;
  padding-bottom: 15px;
}

aside{
  width: 100%;
}

aside #tools{
  display:flex;
  justify-content: center;
  width: 40px;
  height: 40px;
}

#tools img{
  padding: 2px;
}

@media(max-width:768px){

  main{
    padding: auto;
  }

  section h2{
    font-size: 2.0rem;
    text-align: center;
  }

  article{
    padding: auto;
  }

  #article-1 h4{
    font-size: 1.2rem;
    justify-content: center;
    padding: 10px 12px;
  }

  #article-1 img{
    float: none;
    justify-content: center;
    border-radius: 8px;
    width: 300x;
    height: 235px;
  }

  #article-1 p{
    display: flex;
    text-align:justify;
    padding: 5px 12px;
    font-size: 1.0rem;
  }

  #article-1 h5{
    font-size: 1.1rem;
    padding: 5px 5px;
  }
}






















 
