html, 
body{
  margin: 0;
  padding: 0;
}

body {
    background: linear-gradient(rgba(31, 48, 58, 0.65), rgba(31, 48, 58, 0.65)), url("../img/wallpaper.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

/*Menu*/

header{
  width: 100%;
  background-color: rgba(4, 96, 119, 0.8);
}

#btn-menu{
  display: none;
}

header label{
  display:none;
  padding: 5px 5px;
}

header #logo{
  float: inline-start;
  width: 100px;
  height: 100px;
  border-radius: 55px;
  padding: 8px;
}

header img{
  width: 40px;
  height: 40px;
}

header label:hover{
  cursor: pointer;
}

.menu ul{
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu li{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 0.90rem;
  border-right: 1px solid #03727a;
}

.menu li:hover{
 background-color: rgba(6, 181, 204, 0.70);
}

.menu li a{
  display: block;
  padding: 20px 30px;
  color: rgba(255, 255, 255);
  text-decoration: none;
}

.menu li a:hover{
  text-decoration: underline;
}

@media(max-width:768px){
  header label{
    display: block;
  }

  header #logo{
    display: none;
  }

  .menu{
    position: absolute;
    background-color: rgba(4, 96, 119, 0.8);
    width: 50%;
    margin-left: -50%;
    transition:all 0.5s;
  }

  .menu ul{
    flex-direction: column;
  }

  .menu li{
    border-top: 1px solid #03727a;
  }

  #btn-menu:checked ~ .menu{
    margin: 0;
  }
}

main{
  padding: 20px;
}

/*footer*/
footer{
  display:inline-flex;
  justify-content: center;
  width: 100%;
  padding: 8px;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
 
  }

  @media screen and(max-width:768px){
    footer{
      position: relative;
      flex-direction: row;
      justify-content: center;
    }
  }



.content,
.cite,
.logo,
.icon,
.gif,
.list-item,
.footer{
    display: flex;
    position:relative;
  }


/* page1 index */ 
.title1{
  flex-direction: row;
  position:relative;
  justify-content:center;
  transform:translateY(40%);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.5rem;
  color: rgba(201, 245, 6, 0.9);
  
}

@media screen and(min-width:368px){
    .title1{
      position:relative;
      text-align: center;
      font-size: 1.7rem;
    } 
  }

.subtitle1{
  display: flex;
  position:relative;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255, 0.9);
}

  .subtitle1{
    justify-content: center;
    transform:translateY(130%)
    }
  
    @media screen and(min-width:368px){
    .subtitle1{
      font-size: 1.2rem;
      position: relative;
      text-align: center;
      transform: translateY(105%);
    }
  }
 
#intro{
  position: relative;
  justify-content: center;
  transform:translateY(41%);
}

  .logo{
    border-radius: 50%;
    width: 245px;
    height: 245px;
    float: inline-end;
    left: -18%;
    }
  
    @media screen and(min-width:368px){
      .logo{
        position:relative;
        transform: translate(-2%, -65%);
        width: 230px;
        height: 230px;
    }
  }

  .content{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255, 0.9);
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.5;
    width: 580px;
    left: 18%;
    }

    @media screen and(min-width:368px){
  .content{
    font-size: 1.1rem;
    position: relative;
    transform: translate(-17%, -58%);
    width: 345px;
  }
}

#tools{
  position: relative;
  justify-content: center;
  transform:translateY(145%);
}

  .cite{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255, 0.9);
    font-size: 1.3rem;
    justify-content: center;
    padding-bottom: 5px;
  }

  @media screen and(min-width:368px){
  .cite{
    font-size: 1.0rem;
    text-align: center;
    position: relative;
    transform: translateY(10%);
    padding-bottom: 10px;
  }
}

  .icon{
    display:inline-block;
    left: 35%;
    width: 3%;
    height: 3%;
    padding-top: 8px;
  }

  @media screen and(min-width:368px){
    .icon{
      width: 6%;
      height:6%;
      position: relative;
      transform: translate(-275%, 30%);
    }
  }




/* page2 contacto */ 

.title2{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.4rem;
  color: rgba(201, 245, 6, 0.9);
  display: flex;
  position:relative;
  justify-content: center;
  transform:translateY(130%);
}

  @media(max-width:360px){
    .title2{
      font-size: 1.7rem;
      justify-content:center;
      text-align: center;
    } 
  }


#eslogan{
  position: relative;
  transform:translateY(65%);
}

  .img-web{
    display: flex;
    position:relative;
    left: 19%;
    float: inline-start;
    border-radius: 3%;
    width: 340px;
    height: 260px;
    }

    @media(max-width:360px){
      .img-web{
        position:relative;
        transform: translate(-16%, -60%);
        width: 300px;
        height: 220px;
       
      }
    }
  

.subtitle2{
  display: flex;
  position:relative;
  left: 21%;
  transform:translateY(20%);
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255, 0.9);
  font-size: 1.5rem;
  text-align:justify;
  line-height: 1.5;
  width: 500px;
  
    }

  @media(max-width:360px){
    .subtitle2{
      position: relative;
      transform: translate(-20%, -155%);
      justify-content: center;
      font-size: 1.2rem;
      width: 330px;
      font-weight: bold;
     
    }
  }

#address{
  display:flex;
  position: relative;
}

  .gif{
    position: relative;
    left: 50%;
    transform: translateY(150%);
    width: 8%;
    height: 8%;
    padding: 6px;
  }

  @media(max-width:360px){
      .gif{
        position: relative;
        transform: translate(-40%, 110%);
        width: 24%;
        height:24%;
      }
    }

.sub-subtitle2{
  position: relative;
  left: 38%;
  transform: translateY(280%);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  text-decoration: underline;
  font-size: 1.6rem;
  padding-bottom: 16px;
  color: rgba(7, 228, 62, 0.9);
}

    @media(max-width:360px){
      .sub-subtitle2{
        position: relative;
        transform: translate(-80%, 225%);
        font-size: 1.5rem;
        text-align: center;
        font-style: normal;
      }
    }

.links{
  position: relative;
  transform: translateY(220%);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
 
  }

  @media(max-width:360px){
    .links{
      position: relative;
      transform: translateY(200%);
    }
  } 

  .item{
    position: relative;
    left: 28%;
    width: 3%;
    height: 3%;
  }

  @media(max-width:360px){
    .item{
      position: relative;
      left: 5%;
      width: 10%;
      height: 10%;
    }
  }

  .link{
    position: relative;
    left: 29%;
    color: rgb(255, 255, 255, 0.9);
    cursor: pointer;
    font-size: 1.2rem;
  }

  @media(max-width:360px){
    .link{
      position: relative;
      left: 6%;

    }
  }

  .link:link{
    text-decoration: none;
  }

  .link:hover{
    color: rgba(6, 181, 204, 0.9);
    text-decoration: underline;
  }
  



















 
