html, 
body, 
h1, 
h2, 
h3, 
ul, 
li, 
a, 
.content,
.cite,
.icon,
.item,
.photo{
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}

body{
  min-height: 100vh;
  max-width: 100%;
}


body {
    background: linear-gradient(rgba(31, 48, 58, 0.65), rgba(31, 48, 58, 0.65)), url("../img/wallpaper.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

/* Menu */
#menu {
  display: flex;
  justify-content: center;
  padding-top: 6px;
}

#menu .nav-item{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.0rem;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(4px);
    background-color:rgba(17, 196, 209, 0.3);
    display: block;
    padding: 3px, 0px;
    
  }

#menu .nav-item:hover{
    background: rgb(0,0,0,0.3);
  }

#menu .nav .nav-item .nav-link{
    color: rgb(255, 255, 255, 0.9);
    font-weight: bold;
  }

#menu .nav .nav-item .nav-active .nav-link{
    color: rgb(255, 255, 255, 0.9);
  }

  @media(max-width:360px){
    #menu{
      display: flex;
      position: relative;
      justify-content: center;
      font-size: 0.95rem; 
    }
  }

  @media(max-width:360px){
    #menu .nav-item{
      padding: 1px;
    }
  }

/*footer*/
.footer{
  position: relative;
  justify-content: center;
  transform: translateY(585%);
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255, 0.9);
  padding-bottom: 8px;
  }

  @media(max-width:360px){
    .footer{
      position: relative;
      transform: translate(0%, 630%);
    }
  }

.content,
.cite,
.logo,
.icon,
.gif,
.list-item,
.footer{
    display: flex;
    position:relative;
  }


/* page1 index */ 
.title1{
  display: flex;
  position:relative;
  justify-content:center;
  transform:translateY(43%);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.5rem;
  color: rgba(201, 245, 6, 0.9);
  
}

  @media(max-width:360px){
    .title1{
      position:relative;
      text-align: center;
      font-size: 1.7rem;
    } 
  }

.subtitle1{
  display: flex;
  position:relative;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255, 0.9);
}

  .subtitle1{
    justify-content: center;
    transform:translateY(130%)
    }
  
    @media(max-width:360px){
    .subtitle1{
      font-size: 1.2rem;
      position: relative;
      text-align: center;
      transform: translateY(105%);
    }
  }
 
#intro{
  position: relative;
  justify-content: center;
  transform:translateY(41%);
}

  .logo{
    border-radius: 50%;
    width: 245px;
    height: 245px;
    float: inline-end;
    left: -18%;
    }
  
    @media(max-width:360px){
      .logo{
        position:relative;
        transform: translate(-2%, -65%);
        width: 230px;
        height: 230px;
    }
  }

  .content{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255, 0.9);
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.5;
    width: 580px;
    left: 18%;
    }

  @media(max-width:360px){
  .content{
    font-size: 1.1rem;
    position: relative;
    transform: translate(-17%, -58%);
    width: 345px;
  }
}

#tools{
  position: relative;
  justify-content: center;
  transform:translateY(145%);
}

  .cite{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255, 0.9);
    font-size: 1.3rem;
    justify-content: center;
    padding-bottom: 5px;
  }

  @media(max-width:360px){
  .cite{
    font-size: 1.0rem;
    text-align: center;
    position: relative;
    transform: translateY(10%);
    padding-bottom: 10px;
  }
}

  .icon{
    display:inline-block;
    left: 35%;
    width: 3%;
    height: 3%;
    padding-top: 8px;
  }

  @media(max-width:360px){
    .icon{
      width: 6%;
      height:6%;
      position: relative;
      transform: translate(-275%, 30%);
    }
  }




/* page2 contacto */ 

.title2{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.4rem;
  color: rgba(201, 245, 6, 0.9);
  display: flex;
  position:relative;
  justify-content: center;
  transform:translateY(43%);
}

  @media(max-width:360px){
    .title2{
      font-size: 1.7rem;
      justify-content:center;
      text-align: center;
    } 
  }


#eslogan{
  position: relative;
  transform:translateY(65%);
}

  .img-web{
    display: flex;
    position:relative;
    left: 22%;
    float: inline-start;
    border-radius: 3%;
    width: 340px;
    height: 260px;
    }

    @media(max-width:360px){
      .img-web{
        position:relative;
        transform: translate(-16%, -60%);
        width: 300px;
        height: 220px;
       
      }
    }
  

.subtitle2{
  display: flex;
  position:relative;
  left: 22%;
  transform:translateY(85%);
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255, 0.9);
  font-size: 1.6rem;
  text-align:center;
  line-height: 1.5;
  width: 450px;
  
    }

  @media(max-width:360px){
    .subtitle2{
      position: relative;
      transform: translate(-20%, -155%);
      justify-content: center;
      font-size: 1.2rem;
      width: 330px;
      font-weight: bold;
     
    }
  }

#address{
  display:flex;
  position: relative;
}

  .gif{
    position: relative;
    left: 50%;
    transform: translateY(150%);
    width: 8%;
    height: 8%;
    padding: 6px;
  }

  @media(max-width:360px){
      .gif{
        position: relative;
        transform: translate(-40%, 110%);
        width: 24%;
        height:24%;
      }
    }

.sub-subtitle2{
  position: relative;
  left: 38%;
  transform: translateY(280%);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  text-decoration: underline;
  font-size: 1.6rem;
  padding-bottom: 16px;
  color: rgba(7, 228, 62, 0.9);
}

    @media(max-width:360px){
      .sub-subtitle2{
        position: relative;
        transform: translate(-80%, 225%);
        font-size: 1.5rem;
        text-align: center;
        font-style: normal;
      }
    }

.links{
  position: relative;
  transform: translateY(220%);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
 
  }

  @media(max-width:360px){
    .links{
      position: relative;
      transform: translateY(200%);
    }
  } 

  .item{
    position: relative;
    left: 28%;
    width: 3%;
    height: 3%;
  }

  @media(max-width:360px){
    .item{
      position: relative;
      left: 5%;
      width: 10%;
      height: 10%;
    }
  }

  .link{
    position: relative;
    left: 29%;
    color: rgb(255, 255, 255, 0.9);
    cursor: pointer;
    font-size: 1.2rem;
  }

  @media(max-width:360px){
    .link{
      position: relative;
      left: 6%;

    }
  }

  .link:link{
    text-decoration: none;
  }

  .link:hover{
    color: rgba(6, 181, 204, 0.9);
    text-decoration: underline;
  }
  



















 
